# **Problem Set 2**

# Question 1
Consider the following Python module:  
a=0  
def b():  
    global a  
a = c(a)  
def c(a):  
    return a + 2  
After importing the module into the interpreter, you execute:  
>>> -- b()  
>>> -- b()  
>>> -- b()  
>>> -- a    
?  

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:

a=0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

# executing the b() function as given in the question
for i in range(3):
  b()

# printing the value of a
print("value of a is ",a)

value of a is  6

Explanation:  
1. Executing b() for the first time :  
   initially a is assigned with 0 value, when we execute the b() for the first time, it makes variable 'a' global varibale then it calls c(0) and assign the value returned by c(0) to 'a' which is 0+2. so value of 'a' becomes 2.

2. Executing b() for the second time :  
   when we execute the b() for the second time, it calls c(2) and assign the value returned by c(2) to 'a' which is 2+2. so value of 'a' becomes 4.
   
3. Executing b() for the third time :  
   when we execute the b() for the third time, it calls c(4) and assign the value returned by c(4) to 'a' which is 4+2. so value of 'a' becomes 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns  the length of the file:

>>> fileLength('midterm.py')  
284

>>> fileLength('idterm.py')  
Traceback (most recent call last):  
  File "<pyshell#34>", line 1, in <module>  
    fileLength('idterm.py')  
  File "/Users/me/midterm.py", line 3, in fileLength  
    infile = open(filename)  
FileNotFoundError: [Errno 2] No such file or directory:  
'idterm.py'  

 As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:  
>>> fileLength('midterm.py')  
358  
>>> fileLength('idterm.py')  
File idterm.py not found.

In [2]:
def fileLength(file_name):

    # Using Try except
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        length = len(contents)
        return length

    except FileNotFoundError:
        return f"File {file_name} not found."

# Printing the length if file exists otherswise print exception that file not found:
result = fileLength('Filelength.txt')
print(result)

result = fileLength('idterm.py')
print(result)

123
File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:  
>>> m = Marsupial()  
>>> m.put_in_pouch('doll')  
>>> m.put_in_pouch('firetruck')  
>>> m.put_in_pouch('kitten')  
>>> m.pouch_contents()  
['doll', 'firetruck', 'kitten']  

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of and also  
a.extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,  
b.supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
c.overloads the __str__ operator so it behaves as shown below.


>>> k = Kangaroo(0,0)  
>>> print(k)  
I am a Kangaroo located at coordinates (0,0)  
>>> k.put_in_pouch('doll')  
>>> k.put_in_pouch('firetruck')  
>>> k.put_in_pouch('kitten')  
>>> k.pouch_contents()  
['doll', 'firetruck', 'kitten']  
>>> k.jump(1,0)  
>>> k.jump(1,0)  
>>> k.jump(1,0)  
>>> print(k)  
I am a Kangaroo located at coordinates (3,0)

In [3]:
# Creating a  class named  Marsupial
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

# Creaitng a class called Kangaroo which inherits from Marsupial

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x         # Kangaroo's x-coordinate
        self.y = y         # Kangaroo's y-coordinate

    def jump(self, dx, dy):
        # Moving Kangaroo's x coordinate by dx
        self.x += dx
        # Move Kangaroo's y coordinate by dy

        self.y += dy
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"


# Creating a Marsupial as given
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(f"Marsupial's pouch : {m.pouch_contents()}")

# Creating a Kangaroo at given coordinates (0, 0), putting items in its pouch, jump, and printing its location

k = Kangaroo(0, 0)

#printing k
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

print(f"Kangaroo's pouch : {k.pouch_contents()}")
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

#printing k
print(k)

Marsupial's pouch : ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
Kangaroo's pouch : ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:  
x={ 洧논/2 洧녰洧녭洧논洧녰洧멇롐뉧롐洧뉧롐   
    3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬    

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.  
>>> collatz(1)  
1  
>>> collatz(10)  
10  
5  
 16  
  8  
   4  
    2  
     1

In [4]:
# Defing collatz()
def collatz(x):
    print(x)

    # Checking if 'x' is equal to 1 and if so, stop the recursion
    if x == 1:
        return

    # Checking if 'x' is even  or odd
    if x % 2 == 0:

        collatz(x // 2)
    else:

        collatz(3 * x + 1)

# Calling collatz with value 1
collatz(1)

print("**************")
# Calling collatz with value 10
collatz(10)

1
**************
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n

>>> binary(0)  
0  
>>> binary(1)  
1  
>>> binary(3)  
11  
>>> binary(9)  
1001

In [5]:
# defining the funcation for binary representation

def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)

print(binary(0))    #output is 0
print(binary(1))    #output is 1
print(binary(3))    #output is 11
print(binary(9))    #output is 1001

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.  
  >>> infile = open('w3c.html')  
  >>> content = infile.read()  
  >>> infile.close()  
  >>> hp = HeadingParser()  
  >>> hp.feed(content)  
W3C Mission  
Principles

In [6]:
#importing HTMLParser

from html.parser import HTMLParser

# Creating a class called HeadingParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.header_stack = []

    # searching the tag
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2']:
            self.header_stack.append(tag)

    def handle_data(self, data):
        if self.header_stack:
            tag = self.header_stack[-1]
            if tag == 'h1':
                print(data)
            elif tag == 'h2':
                print(" " + data)

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2']:
            self.header_stack.pop()

#opening the w3c.html file :
with open('w3c.html') as infile:
    content = infile.read()
    hp = HeadingParser()
    hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir()
that takes as input: a URL (as a string) and
non-negative integers depth and indent
. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)  
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html  
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html  
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html  
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html  
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [7]:
import urllib.request
from html.parser import HTMLParser

# # Defining a custom HTML parser class
class MyParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.urls = []

    # Overriding the handle_starttag method to collect URLs ending with 'html'
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href' and attr[1].endswith('html'):
                    self.urls.append(attr[1])

# Defining the webdir function for recursive web page exploration
def webdir(url, depth, indent):
    # checking for the depth value
    if depth < 0:
        return

    print(' ' * indent * 4 + url)

    try:
        request = urllib.request.urlopen(url)
        html = request.read().decode("utf8")

        parser = MyParser()
        parser.feed(html)

        # Recursively exploring each URL found on the page
        for new_url in parser.urls:
            if new_url.startswith('http'):
                webdir(new_url, depth - 1, indent + 1)
            else:
                full_url = urllib.parse.urljoin(url, new_url)
                webdir(full_url, depth - 1, indent + 1)

    # Handling specific errors

    except urllib.error.HTTPError as e:
        print(f"Failed to access {url}: HTTP Error {e.code}")
    except urllib.error.URLError as e:
        print(f"Failed to access {url}: URL Error {e.reason}")
    except Exception as e:
        print(f"Failed to access {url}: {e}")

# Using the website given in the question
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Failed to access http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404

# Question 8
Write SQL queries on the below database table that return:  
a) All the temperature data.  
b) All the cities, but without repetition.  
c) All the records for India.  
d) All the Fall records.  
e) The city, country, and season for which the average      rainfall is between 200 and 400 millimeters.  
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.  
g) The total annual rainfall for Cairo.  
h) The total rainfall for each season.  

| City   | Country          | Season | Temperature (C) | Rainfall (mm) |
|--------|------------------|--------|-----------------|---------------|
| Mumbai | India            | Winter | 24.8            | 5.9           |
| Mumbai | India            | Spring | 28.4            | 16.2          |
| Mumbai | India            | Summer | 27.9            | 1549.4        |
| Mumbai | India            | Fall   | 27.6            | 346.0         |
| London | United Kingdom   | Winter | 4.2             | 207.7         |
| London | United Kingdom   | Spring | 8.3             | 169.6         |
| London | United Kingdom   | Summer | 15.7            | 157.0         |
| London | United Kingdom   | Fall   | 10.4            | 218.5         |
| Cairo  | Egypt            | Winter | 13.6            | 16.5          |
| Cairo  | Egypt            | Spring | 20.7            | 6.5           |
| Cairo  | Egypt            | Summer | 27.7            | 0.1           |
| Cairo  | Egypt            | Fall   | 22.2            | 4.5           |

In [8]:
#importing the sqlite3
import sqlite3

# Creating a new SQLite database or connectting to an existing one
conn = sqlite3.connect('weather_data1.db')

# Creating a cursor object to interact with the database
cursor = conn.cursor()

# Creating a table
cursor.execute('''
    CREATE TABLE Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')


# Inserting data
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?,?,?,?,?)', data)

In [9]:
# now checking for the data
data

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [10]:
# A. All the temperature data Query
cursor.execute('SELECT Temperature FROM Weather')
temp_data = cursor.fetchall()
print("All Temperature Data in Celcius:")
for row in temp_data:
    print(row[0])

All Temperature Data in Celcius:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [11]:
# B.All the cities, but without repetition Query
cursor.execute('SELECT DISTINCT City FROM Weather')
city = cursor.fetchall()
print("All the cities, but without repetition:")
for row in city:
    print(row[0])

All the cities, but without repetition:
Mumbai
London
Cairo

In [12]:
# C.All the records for India Query
cursor.execute('SELECT * FROM Weather WHERE Country = "India"')
ind_record = cursor.fetchall()
print("All the records for India:")
for row in ind_record:
    print(row)

All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [13]:
# D.All the Fall records query
cursor.execute('SELECT * FROM Weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()
print("All the Fall records:")
for row in fall_records:
    print(row)

All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [14]:
# E. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.Query
cursor.execute('SELECT City, Country, Season FROM Weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
rainfall_info = cursor.fetchall()
print("Cities with average rainfall between 200 and 400 millimeters:")
for row in rainfall_info:
    print(row)

Cities with average rainfall between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [15]:
# F. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.Query
cursor.execute('''
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature) ASC
''')
fall_info = cursor.fetchall()
print("Cities and countries with average Fall temperature above 20 degrees (in increasing order):")
for row in fall_info:
    print(row)

Cities and countries with average Fall temperature above 20 degrees (in increasing order):
('Cairo', 'Egypt')
('Mumbai', 'India')

In [16]:
# G. The total annual rainfall for Cairo. Query
cursor.execute('SELECT SUM(Rainfall) AS Total_Rainfall FROM Weather WHERE City = "Cairo"')
cairo_rain = cursor.fetchone()
print("Total annual rainfall for Cairo:", cairo_rain[0])

Total annual rainfall for Cairo: 27.6

In [17]:
# H The total rainfall for each season.Query
cursor.execute('SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season')
seasonal_rainfall = cursor.fetchall()
print("Total rainfall for each season:")
for season in seasonal_rainfall:
    print(f"{season[0]}: {season[1]}")

Total rainfall for each season:
Fall: 569.0
Spring: 192.29999999999998
Summer: 1706.5
Winter: 230.1

# Question 9
. Suppose list words is defined as follows:  

    words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog']
     
Write list comprehension expressions that use list words and generate the following lists:  
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']  
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']  
c)[3, 5, 5, 3, 5, 4, 3, 4, 3](the list of lengths of words in list words).  
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)  
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [18]:
words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog']

In [19]:
# a)
upper_words = [word.upper() for word in words]
print(upper_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [20]:
# b)
lower_words = [word.lower() for word in words]
print(lower_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
# c)
word_len = [len(word) for word in words]
print(word_len)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [22]:
# d)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [23]:
# e)
words_with_4_or_more = [word for word in words if len(word) >= 4]
print(words_with_4_or_more)

['quick', 'brown', 'jumps', 'over', 'lazy']